.dn-settings-panel {
  width: 400px;
}

.ant-formily-item-label {
  width: 200px !important;
  max-width: 200px !important;
}

.dn-settings-form {
  padding: 0 20px 100px;
}

.dn-settings-form-content {
  overflow-y: scroll;
}

.dn-main-panel-container.root {
  position: inherit 1 !important;
}

.dn-resource.expand .dn-resource-content {
  grid-template-columns: repeat(2, 50%);
  font-size: 12px;
  line-height: 1;
}

.dn-composite-panel-tabs {
  width: 24px;
}

.dn-composite-panel-tabs-pane {
  min-height: 24px;
  min-width: 24px;
  padding: 16px 1px;
  font-size: 14px;
}

.dn-composite-panel-tabs-header-title,
.dn-settings-panel-header-title {
  font-size: 14px !important;
}

.dn-composite-panel-tabs-content {
  width: 169px;
}

.dn-resounce.expand .dn-resource-content {
  grid-template-columns: repeat(2, 56%);
}

.dn-settings-panel-body .ant-formily-item-label {
  width: max-content !important;
}

.dn-resource-item-text {
  font-size: 10px;
}

.dn-settings-form-wrapper .ant-formily-item .ant-formily-item-control-content-component > .ant-select {
  max-width: 100%;
}
